<footer>
  <div id="footer">
    <div class="footer-content">
      <div class="footer-main">
        <h2>About me</h2>
        <p id="about">
          I focus on understanding the core principles of programming, especially through low-level work which provides
          direct control over system behavior. Reliability is one of the core pillars of good software design and i
          prefer to resolve conflicts with a clear, deterministic approach. I believe in simplicity and languages with a
          strong typing system as they help to enforce correctness at compile time, reducing the need for extensive
          testing. I strive to find solutions that respect the hardware's constraints.
          </rlyp>
      </div>

      <nav class="footer-nav">
        <a href="/">About</a>
        <a href="/writing">Writing</a>
        <a href="https://codeberg.org/arvedbloecker">Codeberg</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>

    <p id="notices" class="smcp">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Copyright</a>
      {{ now() | date(format="%Y") }} {{ config.extra.author | default(value="Arved Blöcker") }}
      <span id="breakdot">&middot;</span>
      <a href="https://codeberg.org/arvedbloecker/rustblog">Source</a>
    </p>
  </div>
</footer>